/* NotesGrpList start */
.notesgrp {
    width: 29vw;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
    
}

.notetitle {
    width: 28vw;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}

.notetitle h1 {
    font-size: 35px;
    font-weight: 500;
    line-height: 41px;
}

.open-popup {
    width: 75px;
    height: 75px;
    background-color: #16008B;
    border-radius: 43px;
    display: grid;
    place-items: center;
    position: sticky;
    bottom: 8vh;
    left: 18vw;
    cursor: pointer;
}

.addgrpbtn {

    all: unset;
    font-size: 62px;
    font-weight: 500;
    color: #FFF;


}

/* NotesGrpList end */
/* PopUpGroup start */
.popup-bg-blur {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: absolute;
    Top: 50%;
    Left: 50%;
    transform: translate(-50%, -50%);
}

.popup-group {
    padding: 30px;
    background-color: #fff;
    position: absolute;
    Top: 50%;
    Left: 50%;
    border-radius: 6px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: translate(-50%, -50%);
}


.group {

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.group section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.group h2 {
    font-size: 29px;
    font-weight: 500;
    line-height: 46px;
}

.popupgrp-btn {
    display: flex;
    justify-content: end;
}

.group button {
    all: unset;
    background-color: #001F8B;
    border-radius: 11px;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    max-width: 12vw;
    padding: 2px 40px;
    text-align: center;
    cursor: pointer;

}

.group-name,
.color-choose {

    display: flex;
    gap: 20px;
}

.group-name label,
.color-choose h3 {
    font-size: 27px;
    font-weight: 500;
    line-height: 43px;
}

.group-name input {
    width: 27vw;
    padding: 0px 0 0 31px;
    color: #CCCCCC;
    outline: none;
    border: 2px solid #CCCCCC;
    border-radius: 22px;
    font-size: 23px;
    font-weight: 400;
    line-height: 36px;
}

.color-choose div {
    width: 25vw;
    height: 6vh;
    display: flex;
    gap: 12px;
    align-items: center;
}

.color-choose div span {
    width: 41px;
    height: 41px;
    border-radius: 50px;
    cursor: pointer;

}

/* PopUpGroup end   */
/* NewNotesgrpgrp start   */
.new-notegrp {
    overflow-y: scroll;
    height: calc(80vh - 71px);
    margin-top: 40px;


}

.newnotegrp-container {
    width: 27vw;
    cursor: pointer;
}

.newnotegrp-container:hover {
    background: #1212122b;
    border-radius: 16px;

}

.note-circle {
    width: 76px;
    height: 66px;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 500;
    color: #FFF;
    position: relative;
}

.note-circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.note-name {

    width: 22vw;
}

.note-name p {

    height: 66px;
    font-size: 24px;
    font-weight: 500;
    color: #000;
    display: flex;
    align-items: center;
}

/* NewNotesgrp end   */
/* NotesBox Start   */
.noteBox-main {
    background-color: #DAE5F5;
    width: 71vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

}

.backbtn {
    display: none;
    place-items: center;
    cursor: pointer;
    
}


.input-box {
    width: 71vw;
    background: #001F8B;
}

.input-box input {
    resize: none;
    padding: 20px 0 0 20px;
    width: 78vw;
    color: #9a9a9a;
    border: none;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    outline: none;
    border-radius: 9px;
    height: 24vh;

}

/* NotedBox end   */
/* DefaultBox end   */
.default-main {
    background-color: #DAE5F5;
    width: 71vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* DeFaultBox end   */
/* Notes-display start   */
.Notes-display-main {
    width: 71vw;
    height: calc(100vh - 85px - 216px);
    overflow-y: scroll;

}

.Notes-display {
    width: 67vw;
    margin: 20px auto;
    padding: 20px;
    margin-top: 20px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    word-wrap: break-word;
}

.note-para p {
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    font-weight: 400;
}

.note-time p {
    font-size: 18px;
    line-height: 28px;
    text-align: end;
    font-weight: 500;
    color: #353535;


}

.note-time p span {
    display: inline-grid;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: #353535;
    margin: 2px 15px;
}

/* Notes-display end   */

/* media 1024px start   */
@media (max-width:1024px) {
   

    .note-circle {
        width: 71px;
        height: 59px;
    }

    /* Popupgroup start */

    .color-choose div {
        width: 28vw;
        height: 7vh;

    }

    .color-choose div span {
        width: 35px;
        height: 35px;
    }

    .group-name label {
        width: 18vw;
    }

    .color-choose h3 {
        width: 18vw;
    }

    /* Popupgroup ned */
    .Notes-display {
        width: 66vw;
        
    }

}

@media (max-width:912px) {
    
    .group-name input {
        width: 31vw;
    }

    .group-name label {
        width: 18vw;
    }

    .color-choose h3 {
        width: 20vw;
    }

    .group-name label,
    .color-choose h3 {
        font-size: 28px;
        line-height: 32px;
    }
}

@media (max-width: 768px) {
    

    .group-name input {
        width: 35vw;
    }

    /* Popupgroup start */

    .color-choose div {
        width: 28vw;
        height: 4vh;

    }

    .color-choose div span {
        width: 5vw;
        height: 2.5vh;
    }

    /* Popupgroup ned */
    .Notes-display {
        width: 65vw;
    }
}

@media (max-width: 820px) {

    .group-name input {
        width: 33vw;
    }

    /* Popupgroup start */


    .color-choose div {
        width: 28vw;
        height: 3vh;
    }

    .color-choose div span {
        width: 5vw;
        height: 2.5vh;
    }

    .group-name label {
        width: 21vw;
    }

    .color-choose h3 {
        width: 24vw;
    }

    /* Popupgroup ned */
    .Notes-display {
        width: 62vw;
    }
}

/* media 1024px end */