

/* NotesGrpList start */
.notesgrp{
    width: 33.9vw;
    height: 100vh;
    background-color: #fff;
}
.notetitle{
    width: 28vw;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}
.notetitle h1{
    font-size: 35px;
    font-weight: 500;
    line-height: 41px;
}
.addgrpbtn{
    position: absolute;
    bottom: 6.3vh;
    left:  22.78vw;
    background-color: #16008B;
    border-radius: 43px;
    padding: 0 19px;
    cursor: pointer;
    
}
.addgrpbtn button{
    all: unset;
    font-size: 60px;
    font-weight: 500;
    color: #FFF;

}
/* NotesGrpList end */
/* PopUpGroup start */

.popup-group{
    /* width: 47vw; */
    /* height: 42vh; */
    padding: 30px;
    background-color: #fff;
    position: fixed;
    Top:25vh;
    Left:25vw;
    border-radius: 6px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.group{
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.group section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.group h2{
    font-size: 29px;
    font-weight: 500;
    line-height: 46px;
}
.group button{
    all: unset;
    background-color: #001F8B;
    border-radius: 11px;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    max-width:12vw;
    padding: 2px 40px;
    text-align: center;
    cursor: pointer;

}
.group-name,.color-choose{
   
    display: flex;
    gap: 20px;
}
.group-name label, .color-choose h3{
    font-size: 27px;
    font-weight: 500;
    line-height: 43px;
}
.group-name input{
    width: 27vw;
    padding: 0px 0 0 31px;
    color: #CCCCCC;
    outline: none;
    border: 2px solid #CCCCCC;
    border-radius: 22px;
    font-size: 23px;
     font-weight: 400;
     line-height: 36px;
}

.color-choose div{
    width: 250px;
    height: 40px;
    display: flex;
    gap: 12px;
    align-items: center;
}
.color-choose div span{
    width: 32px;
    height: 32px;
    border-radius: 50px;
    cursor: pointer;

}
/* PopUpGroup end   */
/* NewNotes start   */

    .note-container{
        width: 31vw;
        cursor: pointer;
    }
    .note-container:hover {
        background:  #1212122b;
        border-radius: 16px;
       
    }
    .note-circle{
        width:68px;
        height:68px;
        border-radius:50px;
        font-size:24px;
        font-weight:500;
        color:#FFF;
        position: relative;
    }
    .note-circle span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .note-name{
        font-size:24px;
        font-weight:500;
        color:#000;
        display: flex;
        align-items: center;
        width: 22vw;     
    }
/* NewNotes end   */